/*
	main background (yellow): #e9d654;

*/



*, *:after, *:before { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Vollkorn', Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #FFF; 
    font-size: 1em; 
    line-height: 1em;
	padding: 0; 
	margin: 0;
	text-align: center;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0F0F0), to(#FFF));
    background-image: -webkit-linear-gradient(top, #F0F0F0, #FFF); 
    background-image:    -moz-linear-gradient(top, #F0F0F0, #FFF);
    background-image:     -ms-linear-gradient(top, #F0F0F0, #FFF);
    background-image:      -o-linear-gradient(top, #F0F0F0, #FFF);
}

a {
	color: #333;
	text-decoration: none;
}

	a:hover {
		color: #000;
	}

ul {
	list-style-type: none;
}

h1{

	font-family: 'Vollkorn', 'Arial',sans-serif;
	text-align: center;
	font-size: 2em;
	letter-spacing: 2px;
	border-top: 0.05em #333 solid;
	border-bottom: 0.15em #333 solid;
	padding: 1em;
}

p{
	width: 60%;
	margin: 0 auto;
	padding-top: 1em;
	line-height: 1.5em;
	text-align: left;
	text-indent: 4em;
}

p:last-child{
	margin-bottom: 2em;
}

.container{
	margin: 0 auto;
}

.items { 
	opacity: 0.4; 
	padding: 20px; 
	color: #fff; 
	background: #000; 
	width: 50px; 
	height: 30px; 
	float: left; 
	margin: 5px;  
}


#map {
	width: 80%;
	height: 500px;
	margin: 0 auto;
}

.info {
	text-align: left;
	padding: 6px 8px;
	font: 14px/16px 'Vollkorn',Arial, Helvetica, sans-serif;
	background: blue;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
